<div class="bg-dark-subtle">
    <h1 class="display-6">
        Leaderboard
    </h1>
    <label for="time-select">Show: </label>
    <select name="time-select" id="time-select" hx-get="/leaderboard-content/" hx-target="#leaderboard-body" hx-swap="outerHTML transition:true">
        <option value="start of day">Today</option>
        <option value="start of month">This Month</option>
        <option value="-1000 years">All time</option>
    </select>
    <table class="table table-striped border border-3 my-4 mx-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        {{ template "content" . }}
    </table>
    <button class="btn btn-small btn-primary-outline" hx-target="#card" hx-swap="transition:true" hx-get="/result/">Back to my result</button>
</div>